html {
  background-color: rgba(0, 0, 0, 0.908);
  color: white;
  font-family: Helvetica, sans-serif;
}

text {
  color: white !important;
}

div#map {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 20px;
}

#scatterText {
  width: 400px;
  font-size: 20px;
  margin-right: 50px;
}

#driverYearStats {
  width: 400px;
}

#scatterAnnotations {
  /*  */
}

#mapAnnotations {
  margin-top: 150px;
}

#mapPopup {
  border: 2px solid white;
  margin-top: 20px;
  height: 80px;
  width: 400px;
}

#driverYearStats {
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 8px;
  height: 100px;
}

h3.popupTitle {
  margin: 8px 8px 8px 8px;
}

#circuitName,
#circuitLocation,
#driverYearStats text {
  margin-left: 8px
}

#mapText {
  width: 400px;
  font-size: 20px;
  margin-right: 50px;
}

.axis {
  font-size: 15px;
}

.axis-label {
  font-family: Helvetica, sans-serif;
}

div#lineChartArea,
.bar-chart-area,
div#scatterArea {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

div#lineText {
  width: 400px;
  font-size: 20px;
}

.bar-desc {
  width: 460px;
  font-size: 20px;
}

.bar-chart-area {
  margin-top: 50px;
}

button {
  margin-top: 50px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  text-decoration: underline;
}